# Config file for automatic testing at travis-ci.org

sudo: false
language: python
python: 3.5

env:
    - TOX_ENV=py26
    - TOX_ENV=py27
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=py35
    - TOX_ENV=pypy

script: tox -e $TOX_ENV

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
    - pip install -r requirements.txt
    - pip install -r requirements_dev.txt

# command to run tests, e.g. python setup.py test
script: python setup.py test